.pomodoro-sidebar {
  background-color: var(--background-light);
}
.pomodoro-brandname {
  margin: 2rem;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.list-item {
  text-align: center;
  color: var(--primary);
}
.list-item:hover {
  background-color: var(--gray-light);
}
